node_modules/
dist/
ui-dist/
*.tsbuildinfo
*.db
*.db-shm
*.db-wal
.DS_Store
.env
.tmp-test-runtime/
migration/logs/
migration/migration/
migration/node_modules
migration/ui/node_modules
.guild/
temp/
.test-workspace
